$t1 : #ff6f00
$t2 : #0077ff

.heroFigure_container
  position: relative
  transition: 1s
  width: 100%
  height: 100%
  animation: appear 1s
  background: none
  background: none
  outline: none
  border: none
  display: flex
  align-items: center
  justify-content: center
.frameHero
  width: 80%
  height: 80%
  border-radius: 100%
  overflow: hidden
  background: #ffffff
  display: flex
  align-items: center
  justify-content: center
  &.team1
    outline: $t1 1px solid
  &.team2
    outline: $t2 1px solid
  &.selected
    box-shadow: 0px 0px 20px gold
    animation: floating infinite 3s
    background: white
    z-index: 4
  >svg
    width: 100%
    height: 100%
.attackable
    position: absolute
    top: 0%
    left: 0%
    z-index: 10
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    border-radius: 100%
    opacity: .6
    background: red
@keyframes floating
  50%
    box-shadow: 0px 0px 30px gold
    transform: scale(1.1)
@keyframes appear
  0%
    opacity: 0
  100%
    opacity: 100
