.moveAction_container
  position: absolute
  left: 10%
  background: linear-gradient(#0a740a, #111)
  border-radius: 100%
  color: white
  display: flex
  align-items: center
  justify-content: center
  transition-duration: .3s
  box-shadow: 0 0 8px black
  padding: 2px
  z-index: 10


  &:hover
    cursor: pointer
    transform: scale(1.2)

.icon
  z-index: 10
  width: 6px
  height: 6px
  >*
    fill: white
