.heroActions_Container
  display: none
  position: absolute
  height: 50px
  width: 50px
  top: 5px
  left: -40px
  z-index: 1
  border-radius: 8px
  gap: 5px
  &.selected
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    padding: 5px
  &.invert
    left: 60px
