.attackAction_container
  position: absolute
  right:24%
  background: linear-gradient(red, #111)
  padding: 4px
  border-radius: 100%
  color: white
  display: flex
  align-items: center
  justify-content: center
  box-shadow: 0 0 8px black
  transition-duration: .3s 
  padding: 2px
  z-index: 10
  cursor: pointer
  &:hover
    transform: scale(1.1)

.icon
  z-index: 10
  width: 6px
  height: 6px
  >*
    fill: white
