.playerCard_container
  background: #eee
  height: 100px
  width: 400px
  &.-player1
    align-self: flex-start
    border: 2px orange solid
  &.-player2
    border: 2px darkcyan solid
    align-self: flex-end
