$t1 : #ff6f00
$t2 : #0077ff
$shadowOffset : 4px
$negSO: -4px

.boardContainer
  position: relative
  width: 50vw
  height: 50vh
  display: flex
  justify-content: left
  flex-wrap: wrap
  gap: 0px 0px
  align-content: flex-start
  border-radius: 20px
  border-left: 3px solid $t1 
  border-right: 3px solid $t2
  box-shadow:  $shadowOffset $shadowOffset 20px $t2, $negSO $negSO 20px $t1
