.boardContainer
  position: relative
  width: 50vw
  border: 1px solid black
  height: 50vh
  display: flex
  justify-content: left
  flex-wrap: wrap
  gap: 0px 0px
  align-content: flex-start
  overflow: hidden
  border-radius: 20px
  overflow: hidden
  border-left: 6px solid darkorange
  border-right: 6px solid darkcyan
  box-shadow: inset 0 0 10px black
